.component.text_input {

  width: 15em;

  &.active {
    .inset {

    }
  }

  .inset {
    background-color: #FEFEFE;
    padding: 0.1em;

    border-radius: 0.2em;
    border-width: 1px;
    border-style: solid;
    border-color: $light-grey;
  }

  input {
    outline: none;

    width: 100%;
    border: none;
    background-color: transparent;
    padding-left: 0.4em;
    padding-top: 0.2em;
  }

  label {
    color: $light-grey;
    font-weight: normal;
    font-style: italic;
    font-family: Courier New;
  }
}
