.component.text_input {

  // background-color: #e7a61a;
  color: #c7c7c7;
  font-family: Courier New;
  width: 15em;

  // box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.75);

  // // box-shadow: inset 4px 4px 27px 0px rgba(0,0,0,0.75);

  &.active {
    .inset {
      box-shadow: inset 15em 0px 0px 0px #c1c1c1;
    }
  }

  .inset {
    background-color: #e8e8e8;
    padding: 0.5em;

    border-radius: 0.2em;

    transition: box-shadow 0.4s ease-in-out;

    box-shadow: inset 0px 0px 0px 0px #e8e8e8;
  }

  input {
    outline: none;

    width: 100%;
    border: none;
    background-color: #FEFEFE;
    padding-left: 0.3em;
  }
}
